<!DOCTYPE HTML>
<html lang="en-US">
<head>
        <meta charset="UTF-8">
        <title><%= @title + ' &#8211; PDX Suds Society' %></title>
        <link rel="stylesheet" href="/css/960.css" />
        <link rel="stylesheet" href="/css/reset.css" />
        <link rel="stylesheet" href="/css/text.css" />
        <link rel="stylesheet" href="/css/style.css"/>
        <link href='http://fonts.googleapis.com/css?family=Terminal+Dosis+Light' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Allan:bold' rel='stylesheet' type='text/css'>
</head>
<body>
        <div class="container_12" id="wrapper">
                <div class="grid12 alpha omega" id="header">
                        <h1>PDX SUDS SOCIETY</h1>
                        <h2>Celibrating Portland's Grand Beer Tradition</h2>
                        <ul id="nav">
                                <li><a href="/">Home</a></li>
                                <li>/</li>
                                <li><a href="/listing" id="current_page">Listings</a></li>
                                <li>/</li>
                                <li><a href="/add">Add a Review</a></li>
                        </ul>
                </div>
                <div class="grid_8 alpha" id="main">
                
                </div>
	</div>
	<div class="grid_12 alpha omega" id="footer">
                <p>&#169; 2011 PDX Suds Society</p>
                <a href="mailto:pdxsudssociety@gmail.com">Contact Us</a>
        </div>
	
</body>
</html>
